<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lvqingyang.wifisharing">

    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS"/> -->
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar.Trans">
        </activity>
        <activity
            android:name=".Login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar.Trans.TranBg">
        </activity>
        <activity android:name=".User.SettingActivity">
        </activity>
        <activity android:name=".User.EditPersonalInfoActivity">
        </activity>

        <service
            android:name=".Wifi.share.WiFiAPService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".Wifi.connect.WiFiConnectService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".Wifi.connect.funcation.SecurityActivity"
            android:theme="@style/FuncationTheme">
        </activity>
        <activity
            android:name=".Wifi.connect.funcation.SignActivity"
            android:theme="@style/FuncationTheme">
        </activity>
        <activity android:name=".Wifi.connect.ScanResultInfoActivity">
        </activity>
    </application>

</manifest>